**/vc100
**/vc110
**/vc120
**/vc140
**/vc141
**/vc142
**/vc143
.vs
**/obj/*
**/release/*
**/debug/*
**/*.sdf
**/*.VC.db
**/ipch*
*.suo
contrib/cube/cubeparse.c
contrib/cube/cubescan.c
contrib/seg/segparse.c
contrib/seg/segscan.c
src/backend/bootstrap/bootparse.c
src/backend/bootstrap/bootscanner.c
src/backend/parser/gram.c
src/backend/parser/scan.c
src/backend/replication/repl_gram.c
src/backend/replication/repl_scanner.c
src/backend/utils/misc/guc-file.c
src/bin/psql/psqlscan.c
src/interfaces/ecpg/preproc/pgc.c
src/interfaces/ecpg/preproc/preproc.c
src/pl/plpgsql/src/pl_gram.c
src/test/isolation/specparse.c
src/test/isolation/specscanner.c
